@using System.Security.Claims;

@{
    var logged = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">BRAND</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">

                        <a class="nav-item nav-link" href="http://facebook.com">
                            <i class="fab fa-lg fa-instagram"></i>
                        </a>
                        <a class="nav-item nav-link mr-2" href="http://instagram.com">
                            <i class="fab fa-lg fa-facebook-f"></i>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" 
                                    route-active-controllers="Admin Account"
                                    id="navbarDropdown" role="button" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false"
                                 >
                                    <i class="fas fa-lg fa-user"></i>
                                    @User.FindFirst(ClaimTypes.Email)?.Value
                                 </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"
                                       href="@Url.Action("Details", "Account")">
                                        Profil
                                    </a>
                                    @if ((User.FindFirst(ClaimTypes.Role)?.Value).Equals(UserRole.Admin.ToString()))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item"
                                           href="@Url.Action("AddProduct", "Admin")">
                                            Dodaj produkt
                                        </a>
                                    }
                                </div>
                            </div>
                            <a class="nav-item nav-link" href="@Url.Action("Logout", "Account")">
                                <i class="fas fa-lg fa-sign-out-alt"></i>
                                Wyloguj
                            </a>
                        }
                        else
                        {
                            <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Zaloguj</a>
                            <a class="nav-item nav-link" asp-controller="Account" asp-action="Register">Zarejestruj</a>
                        }

                    </div>
                </div>
            </div>
        </nav>

        <nav id="menu" class="navbar navbar-expand-lg navbar-light pt-md-2 bg-light">
            <div class="container">
                <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
                    <div class="navbar-nav mx-auto">
                        <a route-active-controllers="Home"
                           route-active-actions="Index"
                           asp-controller="Home"
                           asp-action="Index"
                           class="nav-item nav-link">Strona Głowna</a>
                        <a route-active-controllers="Shop"
                           route-active-actions="Index"
                           asp-controller="Shop"
                           asp-action="Index"
                           class="nav-item nav-link">Sklep</a>
                        <a route-active-controllers="Contact"
                           route-active-actions="Index"
                           asp-controller="Contact"
                           asp-action="Index"
                           class="nav-item nav-link">Kontakt</a>
                        <a route-active-controllers="Cart"
                           route-active-actions="Index"
                           asp-controller="Cart"
                           asp-action="Index"
                           class="nav-item nav-link">
                            <i class="fas fa-lg fa-shopping-cart"></i>
                            <span id="amount">
                                $ 0.00
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-bottom: 10px;">
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <div class="nav-item">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Czego szukasz?">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Szukaj</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-0 d-none d-lg-block" style="padding-top: 10px;" />
    </div>
    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <div class="footer-about text-center">
                        <b>Brand</b>
                        <ul class="no-dots">
                            <li>Adres: 61-895 Poznań Powstańców Wielkopolskich 5</li>
                            <li>Numer telefonu: 654 982 988</li>
                            <li>E-mail: onlinestore@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-3">
                    <div class="footer-useful text-center">
                        <b>Przydatne linki</b>
                        <ul class="list-unstyled">
                            <li><a class="nav-link" href="/">Strona glowna</a></li>
                            <li><a class="nav-link" href="Shop">Sklep</a></li>
                            <li><a class="nav-link" href="Contact">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
                <p class="mx-auto">&copy; 2020 - OnlineStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
